<div class="container">
    <a routerLink="/lista">
        Voltar</a>
    <div class="row">
        <div class="col-12 text-center">
            <h2><strong>{{pessoa.nome}}</strong></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3 text-center">
            <h5>Opções de presente: </h5>
        </div>
        <div class="col-12 mt-2" *ngFor="let p of pessoa.presente">
            <p>- <strong>{{p.descricao}}</strong></p>
            <img *ngIf="p.imagem" [src]="p.imagem" class="img-fluid">
        </div>
    </div>
</div>